extends layout

block content
 
 nav#navigation
  // container
  .container
    // responsive-nav
    #responsive-nav
      // NAV
      ul.main-nav.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/store') Store
        li
          a(href='#') Contact Us
 block contentinner