extends memberlayout
block memberinner
 if error
    div(class="alert alert-danger") #{error}
 ul.list-group
 
  

 table.table
            tbody
              
                for card in creditcard
                 tr
                  th
                    h3.product-name #{card}
                  
                  td
                   a.primary-btn.order-submit(href='/users/member/deletecard/'+card).pull-right delete
                  

    
        
        

    

 
 a.primary-btn.order-submit(href='/users/member/add') addnewcard
    